:root {
	--fg-color: #cdd6f4;
	--bg-color: #1e1e2e;
	--hfg-color: #1e1e2e;
	--hbg-color: #cdd6f4;
}

*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	border: none;
	padding: 0;
	color: inherit;
	font-size: inherit;
	text-decoration: none;
	word-break: break-word;
}

html {
	font-size: 16px;
	font-family: sans-serif;
}

body {
	color: var(--fg-color);
	background-color: var(--bg-color);
}

h1 {
	font-size: 4rem
}

a:hover {
	text-decoration: underline;
}

input, select, button {
	background-color: transparent;
	padding: 2px;
}

@media screen and (max-width: 800px) {
	html {
		font-size: 12px;
	}
}
